@tailwind base;
@tailwind components;
@tailwind utilities;

.body-height {
  min-height: calc(100vh - 120px);
  overflow-x: hidden;
  @media (max-width:992px) {
    flex-wrap: wrap;
  max-height: calc(100vh - 120px);

  }
}

/* Customize scrollbar for main area */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar handle */
  border-radius: 4px; /* Rounding the edges of the scrollbar handle */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: red; /* Handle color on hover */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #333; /* Background color of the scrollbar track */
}


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
