.rainbow_btn {
    width: 10rem;
    text-align: center;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    border-radius: 24px;
    box-sizing: border-box;
    display: block;
    z-index: 2;
    overflow: hidden;
    padding: 4px;

}
.rainbow_btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    background-size: 50% 100%
}
.rainbow_btn span {
    position: relative;
    z-index: 2;
    font-size: 1.5rem;
    text-decoration: none;
    align-items: center;
    background: #000;
    border-radius: 20px;
    display: block;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
}
.rainbow_btn:before,
.rainbow_btn:before {
    animation: rainbow_btn .75s linear infinite
}

@keyframes rainbow_btn {
    to {
        transform: translateX(-50%)
    }
}

.animation {
    animation: type 1.5s steps(90) 1.5s 1 normal both, cursor 1s step-end infinite;
    position: relative;
    white-space: nowrap;
}

@keyframes type {
    from {
      width: 0;
    }
  
    to {
      width: 100%;
    }
  }
  
  @keyframes cursor {
    50% {
      border-color: #fff;
    }
  }

  .text {
    width: 29ch;
    border-right: 3px solid;
    animation: blink 1s step-end infinite, type 2.5s steps(29) forwards;
    overflow: hidden;
    white-space: nowrap;
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  @keyframes type {
    0% {
      width: 0;
    }
  }